
RTIe/RTIe.pro.user
firstProject/firstProject.pro.user
build-RTIe-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/RTIe_builder/debug/RTIeBuilder.exe
*.user
build-RTIe-Desktop_Qt_5_12_5_MinGW_32_bit-Debug/RTIe_builder/debug/RTIeBuilder.exe
*.exe
RTIe/RTIe.pro.user
*.exe
*.user
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
*.Release
*.Debug
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
*.o
*.o
*.o
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/image_management.o
*.o
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_image_management.cpp
*.o
*.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_marble_Detection.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_new_Project.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_new_Project_Settings.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/qrc_test.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/splash_screen.o
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/qrc_test.cpp
build-RTIe-Desktop_Qt_5_14_0_MinGW_32_bit-Debug/RTIe_builder/moc_new_Project_Wizard.cpp
*.user
RTIe/RTIe_builder/RTIEx.xcf
